################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/PFrenchAnalyzer/obj/Debug
/PFrenchAnalyzer/.vs/PFrenchAnalyzer/v14
